/* CSS styles */

body {
  font-family: Arial, sans-serif;
  background-color: #001220;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  overflow-x: hidden;
}

.bgwave {
  background-image: url("public/layered-waves2.svg");
  aspect-ratio: 960/300;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
}

body p {
  color: white;
}

main {
  max-width: 1700px;
  width: 100vw;
  /* border: 1px solid red; */
}

h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  text-align: left;
}

.align-center {
  text-align: center;
}

.img-hello {
  width: 70%;
  height: 50%;
  max-height: 700px;
  z-index: 1;
}

header {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  /* border: 1px solid red; */
}

header h1 {
  color: white;
  font-size: 3.75rem;
  margin: 0;
  line-height: 1;
}

header h2 {
  color: white;
  font-size: 1.875rem;
  font-weight: 100;
  line-height: 2.25rem;
  margin: 0;
}

.title-container {
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
}

/* Bouncing arrow */
.arrow-container {
  position: absolute;
  bottom: 5%;
}

.arrow-circle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #919191;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  height: 2.5rem;
  width: 2.5rem;
}

/* fade in */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 2s ease-out;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate-fade-in-down {
  animation: fade-in-down 1s ease-out;
}

/* Bouncing animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

/* Profile Picture */

.profile {
  width: 24rem;
  height: 24rem;
  min-width: 24rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5rem;
}

/* About me container */
.about-me {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* border: 1px solid red; */
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  /* margin-bottom: 8rem; */
}

.about-me p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.about-me div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* logos img */
.logos {
  width: 300px;
  height: 300px;
}

.right {
  margin-right: 3rem;
}

.left {
  margin-left: 3rem;
}

.bottom {
  margin-bottom: 5rem;
}

.top {
  margin-top: 5rem;
}

.mern-logo {
  object-fit: cover;
  height: 200px;
}

/* Why web developing */
.img-why {
  /* width: 500px;
  height: 500px; */
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 500px;
  z-index: 1;
}

.why-div {
  display: flex;
  flex-direction: column-reverse;
}

/* Skills logos */

.skill-logo {
  width: 120px;
  height: 120px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.skills-container {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thin-h1 {
  font-weight: 500;
}

/* CARD */
.card-container {
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* border: 1px solid #fff; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  /* position: relative; */
  /* border: 1px solid #fff; */
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .front-content p {
  font-size: 32px;
  font-weight: 700;
  line-height: 3;
  opacity: 1;
  background: linear-gradient(-45deg, #69e7fa 0%, #4124c7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animate-right {
  transform: translateX(-96%);
}

.animate-left {
  transform: translateX(96%);
}

.content-left {
  background: linear-gradient(-45deg, #4124c7 0%, #69e7fa 100%);
  padding-left: 70px;
  padding-right: 70px;
}

.content-right {
  background: linear-gradient(-45deg, #69e7fa 0%, #4124c7 100%);
  padding-left: 60px;
  padding-right: 60px;
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 10px;

  color: #e8e8e8;
  /* padding: 40px; */
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  /* transform: translateX(-96%); */
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-sizing: border-box;
}

/* .card .content .heading {
  font-size: 32px;
  font-weight: 700;
} */

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateX(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-100%);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translate(0);
  }
}

.logos-frontend {
  width: 100%;
  max-width: 1500px;
}

.logos-backend {
  width: 100%;
  max-width: 900px;
}

.sliding-logos {
  overflow: hidden;
  /* border: 1px solid red; */
  width: 100%;
  margin: 4rem 0;
  white-space: nowrap;
  position: relative;
}
.sliding-logos:before,
.sliding-logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.sliding-logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #001220);
}
.sliding-logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #001220);
}

.logos-frontend:hover .logos-slide-left {
  animation-play-state: paused;
}
.logos-backend:hover .logos-slide-right {
  animation-play-state: paused;
}

.logos-slide-left {
  display: inline-block;
  animation: 15s slide-left infinite linear;
}
.logos-slide-right {
  display: inline-block;
  animation: 15s slide-right infinite linear;
}

/* media queries */

@media (min-width: 1219px) {
  header,
  .about-me {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1700px;
  }
  .about-me div {
    margin-bottom: 0;
  }

  .profile {
    margin-bottom: 0;
  }

  .img-hello {
    width: 100%;
    height: 100%;
    max-height: 700px;
  }

  .img-why {
    width: 500px;
    height: 500px;
  }

  .why-div {
    flex-direction: row;
  }

  .profile {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1219px) and (max-width: 1470px) {
  .card-container {
    height: 500px;
  }
}

/*  */
